body {
    overflow-y: hidden;
}
* {
    line-height: 1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
th {
    background: #e4e4e4;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background: #d4d4d4;
}